/* here apply the prefix to all tailwind classes only for project */
/*@import "tailwindcss" prefix(tw);*/
@import "tailwindcss";
@import "@nuxt/ui";
@source inline("col-span-{1..12} lg:col-span-{1..12} md:col-span-{1..12} sm:col-span-{1..12} capitalize text-primary data-[state=open]:text-secondary md:grid-cols-{1..12}");
@source inline("leading-[28px] text-[28px] lg:text-[48px] lg:leading-[48px] max-w-3/4 grid-cols-{1..12} lg:grid-cols-{1..12} border-gray-300");
@theme {
  --color-primary: #172E3F;
  --color-secondary: #980027;
  --color-tertiary: #777382;
  --color-quaternary:  #eeeeee;
  --color-dark-1: #0C1521;
  --color-dark-2: #050F1E;
  --color-dark-3: #1E264A;
  --color-gray-1: #F0F0F0;
  --color-gray-2: #00000008;
  --color-gray-3: #62748E;
  --color-gray-4: #172E3F1A;
  --color-blue-1: #2B7FFF;
  --color-hr: #62748E4D;
  --color-whatsapp: #32D851;
  --color-overlay-slide: rgba(0, 0, 0, 0.5);
}

.overlay-slide {
  background: #00000080;
}
.page-title {
  @apply mb-10 text-[30px] leading-[40px] md:text-[40px] md:leading-[50px] font-semibold;
}

.page-body {
  font-family: 'DM Sans', ui-sans-serif, system-ui;
  @apply font-normal text-[18px] leading-[20px] md:text-[20px] md:leading-[30px];

  & :is(.grid) { @apply gap-10; }

  /* Títulos */
  & :is(h1,h2,h3,h4) { @apply font-semibold mb-[15px]; }
  & :is(h1,h2) { @apply text-[30px] leading-[40px] md:text-[40px] md:leading-[50px]; }
  & :is(h3) { @apply text-[20px] leading-[25px] md:text-[30px] md:leading-[40px]; }
  & :is(h4) { @apply text-[16px] leading-[20px] md:text-[20px] md:leading-[30px]; }

  /* Listas */
  & :is(ul) { @apply list-disc pl-5 mt-[15px]; }
  & :is(ul li) { @apply list-item mb-2; }
  & :is(ol) { @apply list-decimal pl-5 mt-[15px]; }
  & :is(ol li) { @apply list-item mb-2; }

}
