/* here apply the prefix to all tailwind classes only for project */
/*@import "tailwindcss" prefix(tw);*/
@import "tailwindcss";
@import "@nuxt/ui";
@source inline("col-span-{1..12}");
@theme {
  --color-primary: #172E3F;
  --color-secondary: #980027;
  --color-tertiary: #777382;
  --color-quaternary:  #eeeeee;
  --color-dark-1: #0C1521;
  --color-dark-2: #050F1E;
  --color-dark-3: #1E264A;
  --color-gray-1: #F0F0F0;
  --color-gray-2: #00000008;
  --color-gray-3: #62748E;
  --color-gray-4: #172E3F1A;
  --color-blue-1: #2B7FFF;
  --color-hr: #62748E4D;
  --color-whatsapp: #32D851;
  --color-overlay-slide: rgba(0, 0, 0, 0.5);
}

.overlay-slide {
  background: #00000080;
}
